*{
    box-sizing: content-box;
}

body{
    background-color: azure;
}

header{ 
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img{
    width: 35rem;
    height: 35rem;
}

article{
    display: flex;
    gap: 1rem;
    margin-bottom: 50px;
}

#Temple{
    background-color: whitesmoke;
    border-top-left-radius: 2rem;
    padding: 0.5rem;
    border-left: 5px  groove gold; 
}

#Banff{
    background-color: rgb(112, 209, 112);
    border-top-left-radius: 2rem;
    padding: 0.5rem;
    border-left: 5px groove grey;
}

footer{
    background-color: lightcyan;
    text-align: center;
}